    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <%= @page.content %>
                <div class="col-md-3">
                    <% @realms.each do |realm| %>
                    <div class="row">
                        <div class="card">
                            <div class="card-header">Online Players</div>
                            <div class="card-body">
                                <dl class="dl dl-inline">
                                    <dt><%= realm.name %></dt> <dd><%= realm.online %> <%= 'player'.pluralize(realm.online) %></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <%- end %>
                </div>
            </div>
        </div>
    </div>