<table clas="table table-striped">
    <thead></thead>
    <tbody>
        <%- @users.each do |user| %>
            <tr>
                <td>
                    <%- if @online.include? user.id %>
                        <span class="icon-holder"><i class="c-green-500 ti-arrow-circle-up"></i></span>
                    <%- else %>
                        <span class="icon-holder"><i class="c-red-500 ti-arrow-circle-down"></i></span>
                    <%- end %>
                </td>
                <td><%= link_to user.username, [:admin, user] %></td>
                <td><%= @character_counts[user.id] %></td>
            </tr>
        <%- end %>
    </tbody>
</table>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>