<div class="row gap-20 masonry pos-r">
    <div class="masonry-sizer col-md-6"></div>
    <h5>
        <%- if @user.online? %>
            <span class="icon-holder"><i class="c-green-500 ti-arrow-circle-up"></i></span>
        <%- else %>
            <span class="icon-holder"><i class="c-red-500 ti-arrow-circle-down"></i></span>
        <%- end %>
        <%= @user.username %>
    </h5>
    <hr />
    <div class="masonry-item col-12">
        <div class="bd bgc-white">
          <div class="peers fxw-nw@lg+ ai-s">
            <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
              <div class="layers">
                <div class="layer w-100 mB-10">
                  <h6 class="lh-1">Characters</h6>
                </div>
                <div class="layer w-100">
                  <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Level</th>
                            <th>Name</th>
                            <th>Race</th>
                            <th>Class</th>
                        </tr>
                    </thead>
                    <%- @user.characters.each do |character| %>
                        <tr>
                            <td>
                                <%- if character.online? %>
                                    <span class="icon-holder"><i class="c-green-500 ti-arrow-circle-up"></i></span>
                                <%- else %>
                                    <span class="icon-holder"><i class="c-red-500 ti-arrow-circle-down"></i></span>
                                <%- end %>
                            </td>
                            <td><%= character.level %></td>
                            <td><%= character.name %></td>
                            <td><%= character.race_name %></td>
                            <td><%= character.class_name %></td>
                        </tr>
                    <%- end %>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>