<%# add navigation links to this file %>
<%- Page.where(show_in_nav: true).order(sort_order: :asc).each do |link| %>
    <li class='nav-item'><%= link_to link.nav_title, "/#{link.slug}", class: 'nav-link' %></li>
<%- end %>