
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "The Fallen Realms", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-links" aria-controls="nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-links">
      <ul class="navbar-nav mr-auto">
        <%= render 'layouts/navigation_links' %>
        <%= render 'layouts/nav_links_for_auth' %>
        <%- if current_user && current_user.gm? %>
            <li class="nav-item"><%= link_to 'Admin', admin_dashboard_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>